/* Big tablet to 1200px: (widths smaller than the 1140px row) */
@media only screen and (max-width: 1200px) {
    .hero-text-box {
        padding: 0 2%;
}
    .row { padding: 0 2%; }
    
}

/* Small tablets to big tablets: from 768px to 1023px */
@media only screen and (max-width: 1023px) {
    body { font-size: 18px; }
    section {padding-top: 60px; }
    
    
    .long-copy {
        width: 80%;
        margin-left: 10%;
    }
    
    .steps-box:last-child{ margin-top: 80px; }
    .app-screen {width: 160%; }
    
    .plan-box{
        width: 100%;
        margin-left: 0%;
    }
    
    .plan-price {font-size: 250%; }
    .contact-form { width: 80%; }
    
    
}

/* Small phones to small tablets: from 481px to 767px */
@media only screen and (max-width: 767px) {
    body { font-size: 16px; }
    section {padding: 30px 0; }
    
    .row,
    .hero-text-box {padding: 0 4%;} 
    
    .hero-text-box {
        margin-top: 200px;
    }
    
    
    .col {
       width: 100%; 
	   margin: 0% 0% 4% 0%;

    }
    .hero-text-box h1{
        font-size: 220%;
        
    }
    
    blockquote {
        margin-bottom: 20px;
    }
      
    .main-nav { display: none; }
    .mobile-nav-icon {display: inline-block;}
    
    .main-nav {
        float: left;
    }
    
    .main-nav li {
        display: block;
        
    }
    
    .main-nav li a:link,
    .main-nav li a:visited {
        border: 0; 
    }
    
    h1 { font-size: 180%; }
    h2 { font-size: 150%; margin-top: 20px;}
    
    .long-copy {
        width: 100%;
        margin-left: 0%;
    }
    
    .app-screen { width: 100%; }
    .steps-box:first-child { text-align: center; }
    
    .steps-box:last-child{ margin-top: 20px;}
    
    .works-step div {
        height: 40px;
        width: 40px;     
        padding: 6px;
        margin-right: 15px;
        font-size: 120%;
            
    }
    
    .works-step { margin-bottom: 20px; }
    
    .works-step p {
        margin-bottom: 25px; 
        display: flex; 
        line-height: 145%;
    }

    .social-links {
        text-align: center;
        float: none;
    }

    .footer-nav {
        text-align: center;
        float: none;
    }


}

/* Small phones: from 0 to 480px */
@media only screen and (max-width: 480px) {
    section {padding: 25px 0 ; }
    .contact-form {width: 100%; }
    
    
}
    

   












